:root {
  --c-background: #c6c6c6;
  --c-tile: #8b8b8b;
  --c-dark: #373737;
  --c-text: #3f3f3f;
}

@font-face {
  font-family: "MinecraftSeven";
  src: url("font/MinecraftSeven.ttf") format("truetype");
  text-rendering: optimizeLegibility;
  font-weight: bold;
}

html {
  background-image: url("img/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "MinecraftSeven";
}

body {
  width: 70%;
  margin: auto;
  padding-top: 20pt;
  min-height: 2000pt;
  font-size: 14pt;
}

h1 {
  font-size: 49pt;
  text-shadow: 5pt 5pt black;
  color: #00ffff;
  margin: auto auto 20pt auto;
  background-color: #00000088;
  padding: 0pt 0pt 10pt 5pt;
}

#table {
  display: table;
  direction: rtl;
}

h2 {
  font-size: 28pt;
  color: white;
  text-shadow: 3pt 3pt black;
  margin: auto auto 20pt auto;
  text-align: center;
}

h3 {
  margin: 0;
  font-size: 21pt;
}

h4 {
  font-size: 14pt;
  margin: auto;
  padding-top: 3pt;
  text-decoration: underline 1.5pt;
}

.sub {
  text-align: center;
}

.recipe h3 {
  padding-top: 2pt;
  text-align: center;
}

.column {
  display: table-cell;
  padding: 8pt;
  direction: ltr;
}

.column.mechanics {
  width: 100%;
}

.block-container {
  background-color: var(--c-background);
  padding: 2pt;
  box-shadow:
    0 2pt black,
    2pt 0 black,
    0 -2pt black,
    -2pt 0 black;
  margin-bottom: 10pt;
  width: 100%;
}

.block {
  color: var(--c-dark);
  box-shadow:
    0 -2pt white,
    -2pt 0 white,
    -2pt -2pt white,
    0 2pt var(--c-dark),
    2pt 0 var(--c-dark),
    2pt 2pt var(--c-dark);
}

.recipe img {
  width: 300pt;
  image-rendering: pixelated;
}

.block.mechanic {
  padding: 0 10pt 10pt 10pt;
}

.text-box {
  background-color: var(--c-tile);
  color: black;
  box-shadow:
    0 2pt white,
    2pt 0 white,
    2pt 2pt white,
    0 -2pt var(--c-dark),
    -2pt 0 var(--c-dark),
    -2pt -2pt var(--c-dark);
}

.mechanic .text-box {
  padding: 0pt 5pt 0.01pt 5pt;
  margin-top: 8pt;
}

.search label {
  width: 60pt;
  color: var(--c-dark);
  margin-left: 4pt;
}

.search input {
  display: table-cell;
  padding: 0 0 2pt 2pt;
  border: none;
  font-family: "MinecraftSeven";
  margin: 5pt auto 5pt 8pt;
  width: calc(100% - 80pt);
}

input:focus {
  outline: none;
}

.mechanic .text-box p {
  padding-left: 5pt;
  margin-top: 5pt;
}

b {
  text-shadow: 1pt 0 black;
  letter-spacing: 0.8pt;
}

@keyframes glint-1 {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -128px 128px;
  }
}

@keyframes glint-2 {
  from {
    background-position: -1pt 0;
  }

  to {
    background-position: calc(-128px - 1pt) 128px;
  }
}

.glint {
  background: url("img/glint.png");
  background-clip: text;
  color: transparent;
  animation: glint-1 linear infinite 5s;
  letter-spacing: 1pt;
}

.glint::before {
  content: attr(data-text);
  background: url("img/glint.png");
  background-clip: text;
  color: transparent;
  animation: glint-2 linear infinite 5s;
  position: absolute;
  transform: translateX(1pt);
  letter-spacing: 1pt;
}

.glint.glint-teal,
.glint.glint-teal::before {
  background-image: url("img/glint_teal.png");
}

img.icon {
  height: 20pt;
  position: absolute;
  image-rendering: crisp-edges;
  filter: drop-shadow(10 10 10 black);
}

ul {
  margin: 0;
  padding-left: 15pt;
}

li {
  list-style: none;
  padding: 2pt 0 5pt 0;
}

ul.no-icons li {
  padding-bottom: 0;
}

li span.no-icon {
  margin-left: 11pt;
}

li span.no-icon::before {
  content: "> "
}

li span.icon {
  padding-bottom: 5pt;
  margin-left: 23pt;
  line-height: 16pt;
}

li i {
  font-style: normal;
  color: #555;
}

li.has-sublist {
  padding-bottom: 0;
}

p.ul-header {
  margin-bottom: 5pt;
}

@media (min-width: 770pt) {
  .column.recipes {
    min-width: 304pt;
  }
}

@media (max-width: 770pt) {
  body {
    width: 100%;
  }

  h1 {
    text-align: center;
    font-size: 41pt;
    padding-left: 0;
    text-shadow: 4pt 4pt black;
  }

  h3 {
    font-size: 14pt;
  }

  #table {
    display: block;
    direction: unset;
  }

  .column {
    display: block;
    width: auto;
    padding: 0;
  }

  .block-container {
    margin-left: auto;
    margin-right: auto;
  }

  .block-container.recipe {
    width: 200pt;
  }

  .block-container {
    width: 90%;
  }

  .recipe img {
    width: 200pt;
  }

  .mechanic .text-box {
    margin-top: 6pt;
  }
}