:root {
  --c-background: #c6c6c6;
  --c-tile: #8b8b8b;
  --c-dark: #373737;
  --c-text: #3f3f3f;
}

@font-face {
  font-family: "MinecraftSeven";
  src: url("font/MinecraftSeven.ttf") format("truetype");
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

html {
  background-image: url("img/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "MinecraftSeven";
}

body {
  width: 70%;
  margin: auto;
  padding-top: 20pt;
}

h1 {
  font-size: 49pt;
  color: #00ffff;
  text-shadow: 5pt 5pt black;
  margin: auto auto 20px auto;
  background-color: #00000088;
  padding: 0pt 0pt 10pt 5pt;
}

#table {
  display: table;
  direction: rtl;
}

h2 {
  font-size: 41px;
  color: white;
  text-shadow: 4px 4px black;
  margin: auto auto 20pt auto;
  text-align: center;
}

h3 {
  margin: 0;
  font-size: 21pt;
}

.recipe h3 {
  padding-top: 4pt;
  text-align: center;
}

.column {
  display: table-cell;
  padding: 8pt;
  direction: ltr;
}

.column.recipes {
  min-width: 300pt;
}

.column.mechanics {
  width: 100%;
}

.block-container {
  background-color: var(--c-background);
  padding: 2pt;
  box-shadow:
    0 2pt black,
    2pt 0 black,
    0 -2pt black,
    -2pt 0 black;
  margin-bottom: 10pt;
  width: 100%;
}

.block {
  color: var(--c-dark);
  box-shadow:
    0 -2pt white,
    -2pt 0 white,
    -2pt -2pt white,
    0 2pt var(--c-dark),
    2pt 0 var(--c-dark),
    2pt 2pt var(--c-dark);
}

.recipes .block-container {
  width: 300pt;
}

.recipe img {
  width: 300pt;
  image-rendering: pixelated;
}

.block.mechanic {
  padding: 0 10pt 10pt 10pt;
}

.text-box {
  background-color: var(--c-tile);
  color: black;
  box-shadow:
    0 2pt white,
    2pt 0 white,
    2pt 2pt white,
    0 -2pt var(--c-dark),
    -2pt 0 var(--c-dark),
    -2pt -2pt var(--c-dark);
}

.mechanic .text-box {
  padding: 3pt 5pt 5pt 5pt;
  margin-top: 10pt;
}

.search label {
  width: 60pt;
  color: var(--c-dark);
  margin-left: 4pt;
}

.search input {
  display: table-cell;
  padding: 0 0 2pt 2pt;
  border: none;
  width: 230pt;
  font-family: "MinecraftSeven";
  margin: 5pt auto 5pt 8pt;
  
}

input:focus {
  outline: none;
}

@media (max-width: 800pt) {
  body {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  #table {
    display: block;
    direction: unset;
  }

  .column {
    display: block;
  }

  .block-container {
    margin-left: auto;
    margin-right: auto;
  }

  .block-container.mechanic {
    width: 300pt;
  }
}